# requirements for development of this package
# package requirements are in setup.py
scipy>=1.5.1
numpy>=1.18.3
pandas>=1.0.3
scikit-learn>=0.22.2
flake8>=3.8.3
black>=19.10b0
pre-commit>=2.5.0
mypy>=0.770
pyyaml>=5.3.1
probatus>=1.1.1
flake8-docstrings>=1.5.0
dash
jupyter-dash
dash_bootstrap_components